:root{
    --color2: hsl(0, 0%, 90%);
    --color1: hsl(0, 0%, 10%);
    /* --font1: sans-serif; */
    --font2: 'Helvetica Neue', sans-serif;

    /*bootstrap variables*/
    --bs-gray-800: var(--color1);
    --bs-primary-rgb: var(--color1);
    --bs-btn-hover-color: var(--color1);
    --bs-btn-hover-bg: var(--color2);
    --bs-link-hover-color-rgb: var(--color1);
    --bs-btn-active-bg: var(--color1);



    
}


.bi{
    max-height: 2em;
    max-width: 2em;
    margin: auto .5em auto .5em;
    font-size: 1.7em;
    color: var(--color2);
}

.bi-artstation{
    /* Apply styles to both <i> and <svg> elements */
    fill: var(--color2); /* This will apply to SVGs */
    width: 1em;
    height: 2em;
    padding-top: .35em;
}

/* e-mail and resume buttons */
.bi-button {
    /* background-color: red; */
    border: .1em;
    border-color: var(--color2);
    border-radius: 1em;
    border-style: solid;
    color: var(--color2);
    padding: 0.2em 2em 0.4em 2em;
    text-decoration: none;
}

body{
    text-align: center;
    color: red;
    background: var(--color2);
}

.btn-primary{
    --bs-btn-hover-bg: var(--color1);
    background-color: var(--color2);
    border: .1em;
    border-color: var(--color1);
    color: var(--color1);
    fill: var(--color1);
    font-weight: 500;
    
}

.card{
    width: 30em;
    height: min-content; /* inherits height from img */
    margin: 0.5em;
    overflow: hidden; 
    color: var(--color2); /* font text */
    border-radius: 1em;
}

.color2{
    color: var(--color2);
}

.font1{
    font-family: var(--font1);
    font-weight: 500;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 1.5em;
    font-weight: 400;
}

.container{
    /* max-width: max-content; */ /**/
}

.project-cover-img{
    object-fit: cover;
    height:max-content;
    /* height: 10em; disable this for every image to have their own size */
    /* padding: 1em;
    margin-bottom: 2em;
    scale: 2; */
}


.title{
    font-size: 5em;
    color: var(--color1);
    margin-bottom: 0.5em;
}

.header-box{
    background-color: var(--color1);
}

.open-project{
    align-items: center;
    margin-top: 2em;
    
}

p{
    font-size: 1em;
}

.profilepicture{
    border-radius: 100%;
    height: 15em;
    margin: 3em auto 3em auto;
}

.presentationtext, .socialmediaicons{
    margin-bottom: 1em;
}

.projects{
    margin: auto 1em auto 1em;;
    justify-content: center;
}