:root{
    --bs-gray-800: hsl(0, 0%, 15%);
    --color2: hsl(0, 0%, 90%);
    --color1: hsl(0, 0%, 10%);
}


.bi{
    max-height: 2em;
    max-width: 2em;
    margin: auto .5em auto .5em;
    font-size: 1.7em;
    color: hsl(0, 0%, 90%);
}

.bi-artstation{
    /* Apply styles to both <i> and <svg> elements */
    fill: hsl(0, 0%, 90%); /* This will apply to SVGs */
    width: 25px;
    height: 50px;
    padding-top: .4em;
}


body{
    text-align: center;
    background-color: red;
    color: red;
    background: var(--color2);
}


.card{
    width: 20rem;
    margin: 0.5rem;
}

.color2{
    color: var(--color2);
}


.header{
    background-color: var(--color1);
    padding: 10em auto 1em auto;
    margin: auto auto 1em auto;
    height: 40em;
}

h2{
    font-size: 1.5em;
}

p{
    font-size: 1em;
}

.profilepicture{
    border-radius: 100%;
    height: 15em;
    margin: 3em auto 3em auto;
}

.presentationtext{
    margin-bottom: 6em;
}


.socialmediaicons{
    margin: 1em auto em auto;
}